# Web Framework
django>=5.1
djangorestframework
hypercorn
django-anymail[mailgun]

# RSS & HTML Processing
feedparser
podgen
nh3
beautifulsoup4

# Database & Task Queue
psycopg[binary]
celery
redis
django-celery-beat
django-cryptography

# Utilities
python-dotenv
requests
Pillow==10.3.0
pdfkit
lxml
whitenoise
recurly